@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body{
  margin: auto;
  max-width: 1070px;
  margin-top: 30px;

}

.navbar{
  /* margin: auto;
  max-width: 1000px; */
}


.hero-img{
    vertical-align: middle;
  width: 90px;
  height: 90px;
  border-radius: 50%; 

} 

.pills{
  display: inline;
  list-style-type: none;
  font-size: 20px; 
  padding: 0.5rem;
  text-decoration: none;
  color: black;
}

 .nav-pills{
  margin-left: 550px; 
  margin-top: 0px;
    
    
} 

.heading{
  font-size: 60px;
  font-weight: bolder;
  margin-top: 30px;
}

.para{
  font-size: 20px;
  font-family: 'Montserrat', sans-serif; 
  text-decoration: none;
  color: black;
} 

.span{
  text-decoration: underline;
}

hr{
  margin: 50px;
  
}

.footer{
  text-align: center;
} 

.project-title{
  font-size: 25px;
  text-decoration: underline;
} 

.active{
  font-weight: bolder;
  font-size: x-large;
} 

.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 25%; 
  float: left; 
}

.container{
  padding: 2px 16px;
}

.paragraph{
  margin-left: 20rem;
  font-size: 20px;
  justify-content: center;
  font-family: 'Montserrat', sans-serif; 

}

.header-about{
  margin-left: 20rem;
}
